* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #E5E5E5;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#principal {
    margin: 0;
}

.container-text-area {
    width: 100%;
    height: 100%;
    padding-left: 100px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 50px;
    padding-top: 24px;
    margin-bottom: 50px;
}

.principal__content {
    display: flex;
}

.principal__container {
    margin: 0 20px;
}


/* Textarea */

textarea.ingreso-texto {
    background-color: #E5E5E5;
    border: none;
    width: 100%;
    flex: 1;
    padding: 0;
    margin-bottom: 10px;
}

.form-control::placeholder,
.form-control {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0A3871;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    color: #0A3871;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #0A3871;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    opacity: 1;
}

.container-fluid__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-fluid__left {
    width: calc(100% - 300px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 50px;
}

.container-fluid__right {
    width: 300px;
}


/* Advertencia */

.warning-box {
    width: 100%;
    margin: 2px 0;
    padding: 2px 0;
}

.warning {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.fa-exclamation-circle {
    color: #495057;
    margin-right: 3px;
}


/* Buttons */

.buttons {
    display: flex;
    justify-content: space-between;
}

.principal__btn {
    width: calc(50% - 10px);
    height: 50px;
}

.btn-encriptar {
    background: #0A3871;
    border-radius: 14px;
    color: #ffffff;
}

.btn-encriptar:hover {
    color: #ffffff;
}

.btn-desencriptar {
    background: #D8DFE8;
    border-radius: 14px;
    color: #0A3871;
    border: 1px solid #0A3871;
}


/* Resultado texto */

textarea {
    resize: none;
}

.container-text-resultado {
    margin-top: 20px;
    padding: 0 20px;
    width: 100%;
    height: calc(97vh - 40px);
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultado-texto {
    padding-top: 60%;
    border-radius: 20px;
}

#text-input-resultado {
    height: 92vh;
    width: 100%;
}

.muneco {
    width: 100%;
}

.muneco img {
    width: 100%;
}

.muneco h5 {
    text-align: center;
    font-weight: bolder;
}

.muneco p {
    text-align: center;
    font-weight: 400;
}

.resultado {
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.resultado__textarea {
    padding-top: 10px;
    flex: 1;
}

.resultado__btn {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-radius: 14px;
    color: #0A3871;
    border: 1px solid #0A3871;
}


/* media query */

@media screen and (max-width:320px) {
    #text-input {
        height: 20vh;
        width: 100%;
    }
    #text-input-resultado {
        height: 20vh;
        width: 100%;
    }
    .resultado-texto {
        padding-top: 0%;
    }
    .muneco img {
        display: none;
    }
    .muneco h5 {
        top: 20%;
    }
    .muneco p {
        top: 60%;
    }
}

@media screen and (max-width:480px) {
    #text-input {
        height: 40vh;
        width: 100%;
    }
    #text-input-resultado {
        height: 20vh;
        width: 100%;
    }
    .resultado-texto {
        padding-top: 0%;
    }
    .muneco img {
        display: none;
    }
    .muneco h5 {
        top: 20%;
    }
    .muneco p {
        top: 60%;
    }
}

@media screen and (max-width:768px) {
    .buttons {
        flex-direction: column;
    }
    .principal__btn {
        width: 100%;
        margin-bottom: 10px;
    }
    .principal__btn:last-child {
        margin-bottom: 0;
    }
    #text-input {
        width: 100%;
    }
    #text-input-resultado {
        height: 18vh;
        width: 100%;
    }
    .resultado-texto {
        padding-top: 0%;
    }
    .muneco img {
        display: none;
    }
    .muneco h5 {
        top: 20%;
    }
    .muneco p {
        top: 60%;
    }
}

@media screen and (max-width:960px) {
    .principal__content {
        flex-direction: column;
        height: calc(100vh - 20px);
    }
    .container-fluid {
        flex-direction: column;
    }
    .container-fluid__left {
        width: 100%;
        /*height:  calc(100vh - 140px);*/
        height: auto;
        padding-right: 0;
        flex: 1;
    }
    .container-fluid__right {
        width: 100%;
        height: auto;
        min-height: 100px;
        margin-top: 20px;
    }
    .container-fluid {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .container-text-resultado {
        height: 100%;
        margin: 0;
        padding: 10px 20px;
    }
    .container-text-area {
        padding: 0;
        width: 100%;
    }
    .buttons {
        width: 100%;
        margin: 0;
    }
    .warning-box {
        width: 100%;
    }
    #text-input {
        width: 100%;
    }
    #text-input-resultado {
        height: 24vh;
        width: 100%;
    }
    .resultado-texto {
        padding-top: 0%;
    }
    .muneco img {
        display: none;
    }
    .muneco h5 {
        top: 40%;
    }
    .muneco p {
        top: 60%;
    }
    .resultado {
        width: 100%;
    }
}

.none {
    display: none;
}