* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #E5E5E5;
}

.container {
    height: 100vh;
}


/* Logo */

.box-logo {
    padding: 20px;
}


/* Entrada */

.box-invisible {
    height: 160px;
}

.ingreso-texto {
    background-color: #E5E5E5;
    border: none;
    width: 100%;
}

.box-texto-entrada {
    padding: 10px;
    height: auto;
}

.box-botones {
    padding: 10px;
}

textarea {
    resize: none;
}

#text-input {
    height: 40vh;
    width: 100%;
    border: none;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0A3871;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    color: #0A3871;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #0A3871;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    opacity: 1;
}


/* Advertencia */

.warning-box {
    width: 100%;
    margin: 2px 12px;
    padding: 2px 12px;
}

.warning {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.fa-exclamation-circle {
    color: #495057;
    margin-right: 3px;
}

.buttons {
    text-align: center;
    align-items: center;
}

.btn-encriptar {
    background: #0A3871;
    border-radius: 24px;
    color: #ffffff;
    margin-top: 10px;
    width: 90%;
    height: 100%;
}

.btn-encriptar:hover {
    color: #ffffff;
}

.btn-desencriptar {
    background: #D8DFE8;
    border-radius: 24px;
    color: #0A3871;
    margin-top: 10px;
    width: 90%;
    height: 100%;
    border: 1px solid #0A3871;
}


/* Salida */

.box-texto-salida {
    padding: 20px;
    height: 90vh;
}

.resultado-texto {
    padding-top: 60%;
    border-radius: 20px;
}

#text-input-resultado {
    height: 100%;
}

.muneco img {
    position: absolute;
    top: 30%;
    width: 80%;
}

.muneco h5 {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    padding-left: 6%;
    top: 62%;
    width: 80%;
}

.muneco p {
    text-align: center;
    font-weight: 400;
    position: absolute;
    padding-left: 6%;
    top: 72%;
    width: 80%;
}

@media screen and (max-width:576px) {
    .box-texto-salida {
        height: 20vh;
    }
    .resultado-texto {
        padding-top: 0;
    }
}

@media screen and (max-width:760px) {
    .box-texto-salida {
        height: 20vh;
    }
    .resultado-texto {
        padding-top: 0;
    }
}